.textContainer {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  color: white;
  height: 80%;
  justify-content: space-between;
}

.textContainer h1 {
  padding-top: 30%;
}

.activeContainer {
  display: flex;
  align-items: left;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  height: 60%;
  width: auto;

}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
  border-bottom: 2px solid white;
}

#online{

  padding-right:10px;

  }

@media (max-width: 425px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}

@media (min-width: 1440px) {
  .textContainer {
    font-size: 20px;
  }
}
